* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;

  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
